<div class="card" *ngIf="status == true">
  <div class="header-main">
    <h4>Painel de Cotações</h4>
  </div>

  <span style="position: absolute; right: 220px; top: 33px">
    <i (click)="redirectToProfile()" class="pi pi-user" style="font-size: 1rem; font-weight: bold; cursor: pointer"
      pTooltip="Meu Perfil" tooltipPosition="bottom"></i>
  </span>
  <span style="position: absolute; right: 180px; top: 33px">
    <i (click)="logout()" class="pi pi-sign-out" style="font-size: 1rem; font-weight: bold; cursor: pointer"
      pTooltip="Sair" tooltipPosition="bottom"></i>
  </span>

  <br />
  <br />
  <div *ngIf="!showProfile">
    <span style="width: 100%" *ngIf="uniqueSuppliers?.length > 1">
      <p-dropdown [(ngModel)]="data" optionLabel="Nome" placeholder="Selecione a sua empresa ou filial"
        autoWidth="false" [options]="uniqueSuppliers" [showClear]="true" [style]="{ minWidth: '100%' }"
        (onChange)="onSupplierSelect()" />
    </span>

    <br />
    <br />
    <br />

    <div class="card-body" *ngIf="this.data || uniqueSuppliers?.length === 1">
      <p-table #dataTable currentPageReportTemplate="Visualizando do {first} até {last} da(s) {totalRecords}."
        id="data-table" dataKey="id" responsiveLayout="scroll" [value]="valueMain" [columns]="columns"
        [loading]="loadingForTable" [rows]="10" [paginator]="true" [showCurrentPageReport]="true"
        [tableStyle]="{ 'min-width': '50rem', width: '100%' }">
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th *ngFor="let col of columns" pSortableColumn="{{ col.field }}" [ngStyle]="col.customStyle">
              <div *ngIf="!col.hidden && col.field !== 'documentid'">
                <span>{{ col.header }}</span>
                <p-sortIcon *ngIf="
                  !col.hidden &&
                  col.field !== 'ciclo_atual' &&
                  col.field !== 'cotacao_abertura' &&
                  col.field !== 'cotacao_encerramento' &&
                  col.field !== 'status'
                " field="{{ col.field }}"></p-sortIcon>
              </div>
            </th>
          </tr>
          <tr>
            <th *ngFor="let col of columns">
              <p-columnFilter *ngIf="!col.hidden && col.field == 'numeroSolicitacao'" matchMode="contains"
                [showMenu]="false" field="{{ col.field }}">
              </p-columnFilter>

              <!-- <p-columnFilter
              *ngIf="!col.hidden && col.field == 'status'"
              field="status"
              matchMode="contains"
              [showMenu]="false"
            >
              <ng-template
                pTemplate="filter"
                let-value
                let-filter="filterCallback"
              >
                <p-dropdown
                  [ngModel]="value"
                  [options]="optionsStatus"
                  optionLabel="name"
                  optionValue="code"
                  (onChange)="filter($event.value)"
                  placeholder="Todos"
                  [showClear]="true"
                >
                </p-dropdown>
              </ng-template>
            </p-columnFilter> -->
            </th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-rowData let-columns="columns">
          <tr>
            <td *ngFor="let col of columns" style="cursor: pointer" (click)="
              sendValue(
                rowData.documentid,
                rowData.idPastaGED,
                rowData.numeroSolicitacao,
                rowData.solicitacao_compra,
                rowData.numIdCot
              )
            ">
              <span *ngIf="!col.hidden && col.field !== 'documentid'">
                {{ rowData[col.field] }}
              </span>

              <span *ngIf="!col.hidden && col.field === 'documentid'" style="cursor: pointer">
                {{ rowData[col.field] }}
              </span>

              <!-- <span
              *ngIf="
                !col.hidden &&
                col.field === 'status' &&
                rowData.status === 'Pendente'
              "
              style="
                padding: 5px 10px !important;
                font-weight: bold !important;
                border-radius: 30px !important;
                background: #fff6f6 !important;
                color: #bf0000 !important;
              "
            >
              {{ rowData[col.field] }}
            </span>

            <span
              *ngIf="
                !col.hidden &&
                col.field === 'status' &&
                rowData.status === 'Preenchido'
              "
              style="
                padding: 5px 10px !important;
                font-weight: bold !important;
                border-radius: 30px !important;
                background: #e8ffee !important;
                color: #00bf34 !important;
              "
            >
              {{ rowData[col.field] }}
            </span>

            <span
              *ngIf="
                !col.hidden &&
                col.field === 'status' &&
                rowData.status === 'Parcial'
              "
              style="
                padding: 5px 10px !important;
                font-weight: bold !important;
                border-radius: 30px !important;
                background: #e1faff !important;
                color: #008cbf !important;
              "
            >
              {{ rowData[col.field] }}
            </span> -->

              <!-- <span *ngIf="!col.hidden && col.field == 'cotacao_abertura'">
              {{ rowData[col.field] | date : "dd/MM/yyyy" }}
            </span> -->

              <!-- <span *ngIf="!col.hidden && col.field == 'cotacao_encerramento'">
              {{ rowData[col.field] | date : "dd/MM/yyyy" }}
            </span> -->
            </td>
          </tr>
        </ng-template>

        <ng-template pTemplate="emptymessage" let-columns>
          <tr>
            <td [attr.colspan]="columns.length" style="
              color: #bbbbbb !important;
              text-align: center !important;
              padding: 10px !important;
            ">
              Nenhum dado encontrado.
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>

  <div *ngIf="showProfile && status">
    <div class="profile-container">
      <div class="header" style="display: flex; align-items: center; gap: 10px; margin-bottom: 20px;">
        <button pButton type="button" icon="pi pi-arrow-left" class="p-button-text" label="Voltar"
          (click)="showProfile = false">
        </button>

        <h4 style="margin: 0;">Meu Perfil</h4>
      </div>

      <p><strong>Email:</strong> {{ userEmail }}</p>

      <button pButton type="button" class="btn btn-primary" *ngIf="!showPasswordForm" (click)="togglePasswordForm()">
        Alterar Senha
      </button>

      <div *ngIf="showPasswordForm" style="margin-top: 20px;">
        <div class="formgrid grid">
          <div class="field col-12 md:col-6 lg:col-4">
            <label for="newPassword">Nova Senha:</label>
            <input type="password" id="newPassword" [(ngModel)]="newPassword"
              class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" />
          </div>

          <div class="field col-12 md:col-6 lg:col-4">
            <label for="confirmPassword">Confirmar Nova Senha:</label>
            <input type="password" id="confirmPassword" [(ngModel)]="confirmPassword"
              class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" />
          </div>
        </div>

        <div class="field col-12 md:col-1 lg:col-1" style="margin-top: 20px;">
          <div style="display: flex;">
            <div class="col-12">
              <button pButton type="button" class="btn btn-secondary w-full md:w-auto"
                (click)="showPasswordForm = false">
                Cancelar
              </button>
            </div>
            <div class="col-12">
              <button pButton type="button" class="btn btn-success w-full md:w-auto ml-2" (click)="updatePassword()">
                Salvar
              </button>
            </div>
          </div>
        </div>
      </div>

      <br><br>
      <h4 style="display: flex; justify-content: center;">Fornecedores Vinculados</h4>
      <div *ngIf="suppliersList && suppliersList.length > 0" style="margin-top: 20px;">

        <p-table [value]="suppliersList" [paginator]="true" [rows]="10" [responsiveLayout]="'scroll'" class="table">
          <ng-template pTemplate="header">
            <tr>
              <th>Descrição</th>
              <th>Loja</th>
              <th>CNPJ</th>
            </tr>
          </ng-template>

          <ng-template pTemplate="body" let-supplier>
            <tr>
              <td>{{ getSupplierName(supplier) }}</td>
              <td>{{ supplier.Loja }}</td>
              <td>{{ supplier.CNPJ }}</td>
            </tr>
          </ng-template>

          <ng-template pTemplate="emptymessage" let-columns>
            <tr>
              <td [attr.colspan]="columns.length" style="
                color: #bbbbbb !important;
                text-align: center !important;
                padding: 10px !important;
              ">
                Nenhum fornecedor encontrado.
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>

  <div class="card" *ngIf="!status">
    <div class="logo-login">
      <img id="animated-image"
        src="https://static.vecteezy.com/system/resources/previews/011/569/665/non_2x/lock-icon-sign-symbol-design-free-png.png"
        width="200px" />
    </div>
    <div class="alert">
      <p class="text-bloquead">
        O acesso está restrito. Por favor, efetue o login para continuar.
      </p>
    </div>
    <div>
      <p class="alert-seconds">
        Você será redirecionado para a tela de login em
        <strong>{{ seconds }}</strong>
        <strong> segundos</strong>.
      </p>
    </div>
  </div>
</div>