<!-- <div class="card">
  <div class="card-body" *ngIf="status == false">
    <div class="main">
      <div class="logo-login">
        <img
          src="https://cdn-icons-png.flaticon.com/512/1995/1995650.png"
          width="200px"
        />
      </div>

      <div class="primary">
        <form
          [formGroup]="authData"
          (ngSubmit)="loginAccount()"
          #form="ngForm"
          style="width: 100%"
        >
          <div class="mb-3">
            <label for="email" class="block text-900 font-medium mb-2"
              >E-mail<span class="required-ipt">*</span></label
            >
            <input
              formControlName="email"
              for="email"
              type="email"
              class="w-full"
              pInputText
              autocomplete="off"
            />
            <div style="width: 100%; position: relative">
              <small
                class="text-danger"
                *ngIf="authData.get('email')?.hasError('email')"
              >
                <b style="color: red !important"
                  >Esses dados não correspondem com o formato de e-mail.</b
                >
              </small>
              <ng-container
                *ngIf="
                  authData.controls['email']?.invalid &&
                  (authData.controls['email']?.dirty ||
                    authData.controls['email']?.touched ||
                    form.submitted)
                "
              >
                <small
                  style="color: red"
                  *ngIf="authData.controls['email'].errors?.['required']"
                  class="form-text text-error-color"
                >
                  <b>Este campo é obrigatório.</b>
                </small>
              </ng-container>
            </div>
          </div>
          <div class="mb-3">
            <label for="password" class="block text-900 font-medium mb-2"
              >Senha<span class="required-ipt">*</span></label
            >
            <input
              formControlName="password"
              id="password"
              type="password"
              pInputText
              class="w-full"
              autocomplete="off"
            />
            <div style="width: 100%; position: relative">
              <small
                class="text-danger"
                *ngIf="authData.get('password')?.hasError('minlength')"
              >
                <b style="color: red !important">
                  A senha deve conter pelo menos
                  {{ authData.get('password')?.errors?.['minlength'].requiredLength }}
                  caracteres.
                </b>
              </small>
              <small
                class="text-danger"
                *ngIf="authData.get('password')?.hasError('maxlength')"
              >
                <b style="color: red !important"
                  >A senha deve conter pelo menos
                  {{ authData.get("password")?.errors?.['minlength'].requiredLength }}
                  caracteres.</b
                >
              </small>
              <ng-container
                *ngIf="
                  authData.controls['password']?.invalid &&
                  (authData.controls['password']?.dirty ||
                    authData.controls['password']?.touched ||
                    form.submitted)
                "
              >
                <small
                  style="color: red"
                  *ngIf="authData.controls['password']?.invalid"
                  class="form-text text-error-color"
                >
                  <b>Este campo é obrigatório.</b>
                </small>
              </ng-container>
            </div>
          </div>
          <div
            class="flex align-items-center mb-6"
            style="justify-content: right !important"
          >
            <a
              style="
                font-weight: bold !important;
                color: #53808f !important;
                font-size: 10px !important;
              "
              class="no-underline ml-2 text-right cursor-pointer"
              >Esqueceu a senha?</a
            >
          </div>
          <div class="btn-send">
            <button
              pButton
              pRipple
              type="submit"
              label="Entrar"
              class="btnLogin w-full"
              style="
                background: #53808f !important;
                color: white;
                border: 1px solid #53808f;
              "
            ></button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="loading" *ngIf="status == true">
    <span class="loader"></span>
  </div>
</div> -->
<p-toast [showTransformOptions]="'translateY(100%)'" [showTransitionOptions]="'300ms'" [hideTransitionOptions]="'300ms'"
  [showTransformOptions]="'translateX(100%)'"></p-toast>

<div *ngIf="status === false" class="wrapper">
  <span class="bg-animate"></span>

  <div class="form-box login">
    <h2>Login</h2>
    <form [formGroup]="authData" (ngSubmit)="loginAccount()" #form="ngForm" style="width: 100%">
      <div class="input-box">
        <input type="text" formControlName="email" id="email" autocomplete="new-email" value="" required />
        <label>E-mail</label>
        <!-- <i class="pi pi-user"></i> -->
      </div>
      <div class="input-box">
        <input type="password" formControlName="password" id="password" autocomplete="new-password" value="" required />
        <label>Senha</label>
        <!-- <i class="pi pi-lock"></i> -->
      </div>
      <button type="submit" class="btnLogin">Login</button>
      <div class="logreg-link" style="cursor: pointer;" (click)="toggleDialogVisibility(true)">
        <p>Esqueci a senha</p>
      </div>
    </form>
  </div>
  <div class="info-text login">
    <h2>Bem Vindo!</h2>
    <p>Portal de Compras</p>
  </div>
</div>

<div *ngIf="status === true" class="loading">
  <span class="loader"></span>
</div>

<p-dialog header="Recuperar Senha" [(visible)]="dialogVisible" [modal]="true" appendTo="body"
  [style]="{ width: '50vw' }" [closable]="true">
  <form [formGroup]="authData">
    <div class="formgrid grid">
      <div class="field col-12 md:col-8">
        <label for="recoveryMail">E-mail</label>
        <input formControlName="recoveryMail" id="recoveryMail" type="text"
          class="w-full text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round outline-none focus:border-primary"
          pInputText />
        <div
          *ngIf="authData.get('recoveryMail')?.invalid && (authData.get('recoveryMail')?.touched || authData.get('recoveryMail')?.dirty)">
          <small class="p-error">E-mail inválido!</small>
        </div>
      </div>
    </div>
    <div style="display: flex; justify-content: flex-end;">
      <p-button label="Enviar" severity="success" (click)="onSendClick()"
        [disabled]="!authData.get('recoveryMail')?.valid" />
      <p-button label="Cancelar" severity="danger" (click)="cancel()" class="ml-2" />
    </div>
  </form>
</p-dialog>

<p-toast></p-toast>