<p-toast></p-toast>
<div class="card" *ngIf="hasFieldParam">
  <div class="header-main">
    <h4>Painel de Preços | {{ nameFornecedor }}</h4>
  </div>

  <span style="position: absolute; right: 180px; top: 33px">
    <i (click)="backPrice()" class="pi pi-replay" style="
        font-size: 1rem;
        font-weight: bold;
        margin-right: 15px;
        cursor: pointer;
      " pTooltip="Voltar" tooltipPosition="bottom"></i>
    <i (click)="logout()" class="pi pi-sign-out" style="font-size: 1rem; font-weight: bold; cursor: pointer"
      pTooltip="Sair" tooltipPosition="bottom"></i>
  </span>

  <br />
  <br />

  <div class="card" style="border-top: 1px solid #00000009 !important">
    <div class="cabecalho-header">
      <p><b>DADOS DA EMPRESA</b></p>
    </div>
    <div class="cabecalho">
      <span>EMPRESA: <b>{{ valueForm?.descricaoEmpresa }}</b></span><br />
      <span>ENDEREÇO: <b>{{ valueForm?.enderecoEmpresaOrigem}}</b></span><br />
      <span>CNPJ: <b>{{ valueForm?.cnpjEmpresa}}</b></span><br />
      <span>BAIRRO: <b>{{ valueForm?.bairroEmpresaOrigem}}</b></span><br />
      <span>COMPRADOR: <b>{{ valueForm?.compradorResponsavel }}</b></span><br />
      <span>CIDADE: <b>{{ valueForm?.cidadeEmpresaOrigem}}</b></span><br />
      <span>TELEFONE: <b>{{ valueForm?.telCompradorResponsavel }}</b></span><br />
      <span>ESTADO: <b>{{ valueForm?.estadoEmpresaOrigem}}</b> |
        <span>CEP: <b>{{ valueForm?.cepEmpresaOrigem}}</b></span> </span><br />
      <span>E-MAIL: <b>{{ valueForm?.mailCompradorResponsavel }}</b></span><br />
    </div>
  </div>

  <div class="card" style="border-top: 1px solid #00000009 !important">
    <div class="cabecalho-header">
      <p><b>DADOS DA COTAÇÃO</b></p>
    </div>
    <div class="cabecalho">
      <span>NÚMERO SOLICITAÇÃO: <b>{{ numSolic }}</b></span><br />
      <span style="cursor: pointer" (click)="openModalAnx()" *ngIf="anxSolic?.length > 0">
        <i class="pi pi-paperclip mr-4 p-text-secondary" pBadge value="{{ anxSolic?.length }}"></i> </span><br />
      <span>ESPECIFICAÇÃO TÉCNICA:
        <b>{{ valueForm?.especificacao_tecnica }}</b></span>
    </div>
  </div>

  <div class="card" style="border-top: 1px solid #00000009 !important" *ngIf="anexosGED?.length > 0">
    <div class="cabecalho-header">
      <p><b>ANEXOS DA SOLICITAÇÃO</b></p>
    </div>
    <div class="cabecalho">
      <ul>
        <li style="padding: 0px 0px 10px 0px" *ngFor="let anexo of anexosGED">
          <span>ID: <b>{{ anexo.documentId }}</b></span>
          -
          <span>DESCRIÇÃO: <b>{{ anexo.documentDescription }}</b></span>
          <span style="cursor: pointer" (click)="deletAnx(anexo.documentId)">
            <i class="pi pi-trash" pTooltip="Excluir anexo" tooltipPosition="bottom" style="
                margin-left: 20px;
                font-size: 0.8rem;
                background: #fff6f6;
                color: #bf0000;
                padding: 5px;
                border-radius: 20px;
                font-weight: bold;
              "></i>
          </span>
          <span style="cursor: pointer" (click)="openDocument(anexo.documentId)">
            <i class="pi pi-eye" pTooltip="Visualizar anexo" tooltipPosition="bottom" style="
                margin-left: 15px;
                font-size: 0.8rem;
                background: #e8f3ff;
                color: #005cbf;
                padding: 5px;
                border-radius: 20px;
                font-weight: bold;
              "></i>
          </span>
        </li>
      </ul>
    </div>
  </div>

  <div style="
      border-top: 1px solid #00000009 !important;
      padding: 10px 0px !important;
    ">
    <div class="cabecalho-header" style="text-align: center">
      <p><b>ANEXAR ARQUIVO GLOBAL</b></p>
    </div>

    <div>
      <p-fileUpload #fileUploadGlob name="demo[]" (onSelect)="onSelect($event)" (onBeforeUpload)="onBeforeUpload()"
        [multiple]="true" [maxFileSize]="10000000" chooseLabel="Selecionar" uploadLabel="Enviar" cancelLabel="Cancelar">
      </p-fileUpload>
    </div>
  </div>

  <div style="
      border-top: 1px solid #00000009 !important;
      padding: 10px 0px 30px 0px !important;
    ">
    <p style="text-align: center"><b>CABEÇALHO DA COTAÇÃO</b></p>
    <br />
    <div>
      <p-table [value]="valueFornecedor" dataKey="Id" editMode="row" [showCurrentPageReport]="true" [rows]="1"
        [paginator]="false" [loading]="loadingForTable"
        currentPageReportTemplate="Visualizando do {first} até {last} da(s) {totalRecords}.">
        <ng-template pTemplate="header" let-prd>
          <tr>
            <th style="min-width: 5rem !important"></th>
            <th pSortableColumn="Desc" style="min-width: 10rem !important">
              Cond. Pagamento
            </th>
            <th pSortableColumn="amountTwo" style="min-width: 9rem !important">
              Tipo Frete
            </th>
            <th pSortableColumn="value" style="min-width: 8rem !important">
              Val. Frete
            </th>
            <th pSortableColumn="term" style="min-width: 7rem !important">
              Validade
            </th>
            <th style="min-width: 7rem !important"></th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-child let-editing="editing" let-ri="rowIndex">
          <tr [pEditableRow]="child">
            <!-- btn -->
            <td [pEditableColumn]="child.CondPagamento" pEditableColumnField="CondPagamento">
              <div class="flex align-items-center justify-content-center gap-2">
                <button *ngIf="!child.editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil"
                  (click)="onRowEditInitForn(child)" class="p-button-rounded p-button-text p-button-edit"></button>
              </div>
            </td>
            <!--  -->
            <td>
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <p-dropdown *ngIf="child.editing" [options]="optionsCondicao" [(ngModel)]="child.CondPagamento"
                    optionLabel="DESCRICAO" optionValue="CODIGO" [style]="{ width: '100%' }" appendTo="body"
                    (onChange)="verificarCondicaoDePagamento($event)" />
                  <span *ngIf="!child.editing">{{
                    getDescricaoByCodigo(child.CondPagamento)
                    }}</span>
                </ng-template>
                <ng-template pTemplate="output">
                  {{ getDescricaoByCodigo(child.CondPagamento) }}
                </ng-template>
              </p-cellEditor>
            </td>
            <td>
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <p-dropdown *ngIf="child.editing" [options]="optionsFrete" [(ngModel)]="child.TipoFrete"
                    optionLabel="name" optionValue="code" [style]="{ width: '100%' }" appendTo="body" />
                  <span *ngIf="!child.editing">{{
                    getDescricaoByCodigoFrete(child.TipoFrete)
                    }}</span>
                </ng-template>
                <ng-template pTemplate="output">
                  {{ getDescricaoByCodigoFrete(child.TipoFrete) }}
                </ng-template>
              </p-cellEditor>
            </td>
            <td>
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <input *ngIf="child.editing" style="width: 100%" pInputText type="text" currencyMask [options]="{
                      prefix: '',
                      thousands: '.',
                      decimal: ',',
                      precision: 2
                    }" [(ngModel)]="child.ValorFrete" (ngModelChange)="validatePositiveValue(child, 'ValorFrete')" />
                  <span *ngIf="!child.editing">{{ child.ValorFrete }}</span>
                </ng-template>
                <ng-template pTemplate="output">
                  {{ child.ValorFrete }}
                </ng-template>
              </p-cellEditor>
            </td>
            <td>
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <input *ngIf="child.editing" style="width: 100%" pInputText type="date"
                    [(ngModel)]="child.Validade" />
                  <span *ngIf="!child.editing">{{ child.Validade }}</span>
                </ng-template>
                <ng-template pTemplate="output">
                  {{ child.Validade | date : "dd/MM/yyyy" }}
                </ng-template>
              </p-cellEditor>
            </td>
            <td>
              <div class="flex align-items-center justify-content-center gap-2">
                <button *ngIf="child.editing && !child.checkSaved" pButton pRipple type="button" pSaveEditableRow
                  icon="pi pi-check" (click)="onRowEditSaveForn(child, valueFinish)"
                  class="p-button-rounded p-button-text p-button-success mr-2"></button>
                <button *ngIf="child.editing && child.checkSaved" pButton pRipple type="button" pInitEditableRow
                  icon="pi pi-check" (click)="onRowEditSaveForn(child, valueFinish)"
                  class="p-button-rounded p-button-text p-button-success mr-2"></button>
                <button *ngIf="child.editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times"
                  (click)="onRowEditCancelForn(child, ri)"
                  class="p-button-rounded p-button-text p-button-danger"></button>
              </div>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="12" style="
                color: #e1e1e1 !important;
                text-align: center !important;
                padding: 15px !important;
              ">
              Nenhuma marca encontrada.
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>

  <div *ngIf="validateFields == true" class="card-body">
    <div style="border-top: 1px solid #00000009 !important">
      <p-table id="data-table" dataKey="Id"
        currentPageReportTemplate="Visualizando do {first} até {last} da(s) {totalRecords}." [columns]="columns"
        [value]="valueFinish" [expandedRowKeys]="expandedRows" [showCurrentPageReport]="true" [rows]="10"
        [paginator]="true" [loading]="loadingForTable">
        <ng-template pTemplate="header">
          <tr>
            <th *ngFor="let col of columns" pSortableColumn="{{ col.field }}">
              <div *ngIf="!col.hidden && col.field !== 'btn'">
                <span>{{ col.header }}</span>
              </div>
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product let-expanded="expanded">
          <tr>
            <td *ngFor="let col of columns">
              <span *ngIf="!col.hidden && col.field === 'btn'">
                <button type="button" (click)="showDialogEdit(product.ProdutoAttUp, product)" pButton icon="pi pi-eye"
                  pTooltip="Visualizar cotação" tooltipPosition="bottom"></button>
              </span>

              <span *ngIf="!col.hidden && col.field === 'DescPA'">
                {{ product[col.field] }}
              </span>

              <span *ngIf="!col.hidden && col.field === 'Quantidade'">
                {{ product[col.field] }}
              </span>

              <span *ngIf="
                  !col.hidden &&
                  col.field === 'StatusCot' &&
                  product.StatusCot === 'Preenchido'
                " style="
                  padding: 5px 10px !important;
                  font-weight: bold !important;
                  border-radius: 30px !important;
                  background: #e8ffee !important;
                  color: #00bf34 !important;
                ">
                {{ product[col.field] }}
              </span>

              <span *ngIf="
                  !col.hidden &&
                  col.field === 'StatusCot' &&
                  product.StatusCot === 'Pendente'
                " style="
                  padding: 5px 10px !important;
                  font-weight: bold !important;
                  border-radius: 30px !important;
                  background: #fff6f6 !important;
                  color: #bf0000 !important;
                ">
                {{ product[col.field] }}
              </span>

              <span *ngIf="!col.hidden && col.field === 'Anexo'" style="display: flex; align-items: center">
                <p-fileUpload #fileUpload mode="basic" (onSelect)="onFileSelected($event, product)"
                  [maxFileSize]="10000000"></p-fileUpload>
                <span *ngIf="product.formDataAnx && product.viewFile" style="cursor: pointer; margin-left: 30px">
                  <i class="pi pi-send" pTooltip="Enviar" tooltipPosition="bottom" style="
                      font-size: 1rem;
                      margin-right: 10px;
                      background: #e8f3ff;
                      color: #005cbf;
                      padding: 5px;
                      border-radius: 20px;
                      font-weight: bold;
                    " (click)="sendGED(product)"></i>
                  <i class="pi pi-times" pTooltip="Remover" tooltipPosition="bottom" style="
                      font-size: 1rem;
                      background: #fff6f6;
                      color: #bf0000;
                      padding: 5px;
                      border-radius: 20px;
                      font-weight: bold;
                    " (click)="clearFileUpload(product)"></i>
                </span>
              </span>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage" let-columns>
          <tr>
            <td [attr.colspan]="columns.length" style="
                color: #bbbbbb !important;
                text-align: center !important;
                padding: 10px !important;
              ">
              Nenhum produto encontrado.
            </td>
          </tr>
        </ng-template>
        <!-- <ng-template pTemplate="loadingbody" let-columns="columns">
        <tr style="height: 46px">
          <td *ngFor="let col of columns; let even = even">
            <p-skeleton
              [ngStyle]="{
                width: even ? (col.field === 'year' ? '30%' : '40%') : '60%'
              }"
            />
          </td>
        </tr>
      </ng-template> -->
      </p-table>
    </div>
  </div>
</div>

<div class="card" *ngIf="!hasFieldParam">
  <div class="logo-login">
    <img id="animated-image"
      src="https://static.vecteezy.com/system/resources/previews/011/569/665/non_2x/lock-icon-sign-symbol-design-free-png.png"
      width="200px" />
  </div>
  <div class="alert">
    <p class="text-bloquead">
      Acesso bloqueado. Para ter acesso, selecione uma solicitação no portal de
      cotação.
    </p>
  </div>
  <div>
    <p class="alert-seconds">
      Você será redirecionado para o portal de cotação em
      <strong>{{ seconds }}</strong>
      <strong> segundos</strong>.
    </p>
  </div>
</div>

<p-dialog header="{{ titleModal }}" [modal]="true" [maximizable]="true" appendTo="body" [(visible)]="dialogVisible"
  [style]="{ width: '75vw' }" [draggable]="false" [resizable]="false" [closeOnEscape]="false">
  <br />
  <br />
  <p-table [scrollable]="true" scrollHeight="400px" [value]="productFilhoTable" dataKey="Id" editMode="row"
    [showCurrentPageReport]="true" [rows]="1" [paginator]="false"
    currentPageReportTemplate="Visualizando do {first} até {last} da(s) {totalRecords}.">
    <ng-template pTemplate="header" let-prd>
      <tr>
        <th style="min-width: 5rem !important"></th>
        <th pSortableColumn="Desc" style="min-width: 10rem !important">
          Marca
        </th>
        <th pSortableColumn="amountTwo" style="min-width: 9rem !important">
          Quant. Fornecida
        </th>
        <th pSortableColumn="value" style="min-width: 8rem !important">
          Val. Unit.
        </th>
        <th pSortableColumn="term" style="min-width: 7rem !important">Prazo</th>
        <th pSortableColumn="ipi" style="min-width: 8rem !important">IPI</th>
        <th style="min-width: 7rem !important"></th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-child let-editing="editing" let-ri="rowIndex">
      <tr [pEditableRow]="child">
        <!-- btn -->
        <td [pEditableColumn]="child.Desc" pEditableColumnField="Desc">
          <div class="flex align-items-center justify-content-center gap-2">
            <button *ngIf="!child.editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil"
              (click)="onRowEditInit(child, productTable)"
              class="p-button-rounded p-button-text p-button-edit"></button>
          </div>
        </td>
        <!--  -->
        <td>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <p-dropdown [options]="optionsMarca" [(ngModel)]="child.Desc" optionLabel="label" optionValue="value"
                placeholder="Selecione a Marca" appendTo="body" (onChange)="onBrandChange($event.value)"></p-dropdown>
            </ng-template>
            <ng-template pTemplate="output">
              {{ child.Desc }}
            </ng-template>
          </p-cellEditor>
        </td>
        <td>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input *ngIf="child.editing" style="width: 100%" pInputText type="number" step="0.01"
                [(ngModel)]="child.QtdFornecida" (keydown)="preventNegativeInput($event)"
                (ngModelChange)="validatePositiveValue(child, 'QtdFornecida')" />
              <span *ngIf="!child.editing">{{ child.QtdFornecida }}</span>
            </ng-template>

            <ng-template pTemplate="output">
              {{ child.QtdFornecida }}
            </ng-template>
          </p-cellEditor>
        </td>
        <td>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input *ngIf="child.editing" style="width: 100%" pInputText
                (ngModelChange)="validatePositiveValue(child, 'Preco')" (keydown)="preventNegativeInput($event)"
                type="text" currencyMask [options]="{
                  prefix: '',
                  thousands: '.',
                  decimal: ',',
                  precision: 6
                }" [(ngModel)]="child.Preco" />
              <span *ngIf="!child.editing">{{ child.Preco }}</span>
            </ng-template>
            <ng-template pTemplate="output">
              {{ child.Preco }}
            </ng-template>
          </p-cellEditor>
        </td>
        <td>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input *ngIf="child.editing" style="width: 100%" pInputText type="number" [(ngModel)]="child.Prazo"
                min="0" />
              <span *ngIf="!child.editing">{{ child.Prazo }}</span>
            </ng-template>
            <ng-template pTemplate="output">
              {{ child.Prazo }}
            </ng-template>
          </p-cellEditor>
        </td>
        <td>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input *ngIf="child.editing" style="width: 100%" pInputText type="text" currencyMask [options]="{
                  prefix: '',
                  thousands: '.',
                  decimal: ',',
                  precision: 2
                }" [(ngModel)]="child.IPI" />
              <span *ngIf="!child.editing">{{ child.IPI }}</span>
            </ng-template>
            <ng-template pTemplate="output">
              {{ child.IPI }}
            </ng-template>
          </p-cellEditor>
        </td>
        <td>
          <div class="flex align-items-center justify-content-center gap-2">
            <button *ngIf="child.editing && !child.checkSaved" pButton pRipple type="button" pSaveEditableRow
              icon="pi pi-check" (click)="onRowEditSave(child, productTable)"
              class="p-button-rounded p-button-text p-button-success mr-2"></button>
            <button *ngIf="child.editing && child.checkSaved" pButton pRipple type="button" pInitEditableRow
              icon="pi pi-check" (click)="onRowEditSave(child, productTable)"
              class="p-button-rounded p-button-text p-button-success mr-2"></button>
            <button *ngIf="child.editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times"
              (click)="onRowEditCancel(child, ri)" class="p-button-rounded p-button-text p-button-danger"></button>
          </div>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="12" style="
            color: #e1e1e1 !important;
            text-align: center !important;
            padding: 15px !important;
          ">
          Nenhuma marca encontrada.
        </td>
      </tr>
    </ng-template>
  </p-table>
  <br />
</p-dialog>

<p-dialog header="Anexos da Solicitação" appendTo="body" [modal]="true" [(visible)]="visibleAnx"
  [style]="{ width: '45rem' }" [draggable]="false" [resizable]="false" [closeOnEscape]="false" [maximizable]="true">
  <ng-container *ngIf="anxSolic?.length > 0; else noAttachments">
    <ul>
      <li *ngFor="let anx of anxSolic" style="
          list-style-type: none;
          position: relative;
          padding-left: 20px;
          margin-bottom: 10px;
        ">
        <span style="
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 5px;
            height: 5px;
            background-color: #000000;
            border-radius: 50%;
          "></span>
        <a [href]="anx.url" target="_blank" style="color: inherit; text-decoration: none; cursor: pointer">
          {{ anx.documentDescription }}
        </a>
      </li>
    </ul>
  </ng-container>

  <ng-template #noAttachments>
    <p>Nenhum anexo disponível.</p>
  </ng-template>
</p-dialog>